<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="grade.css">
    <title>Grade</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
        <a class="navbar-brand" href="#">
            <img src="CDTI.png" style="height: 70px;">
        </a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    
    
    <div class="boxcon">
        <div class="container">
            <h1 style="padding-left: 3rem; ">Grade <img src="pen.png" alt="pencil" style="padding-left:2rem; width:80px;"></h1>
            <h4 style="padding-left: 3rem; ">Welcome to : <br>{{ user.name }}</h4><hr>
            <a href="/profile"><button class="btn2" type="submit">Edit profile</button></a>
            <a href="/grade"><button class="btn2" type="submit">Grade</button></a>
            <a href="/simulation"><button class="btn2" type="submit">Simulation</button></a>
        </div>

        <div class="container2">            
            <div class="colum">
                <table style="width:100% ">
                    <tr>                        
                        <td><h1>ลำดับ<hr></h1></td>
                        <td><h1>ชื่อวิชา<hr></h1></td>
                        <td><h1>หน่วยกิต<hr></h1></td>
                        <td><h1>เกรด<hr></h1></td>
                    </tr>
                    <tr>
                        <td>วิชาที่ 1 :</td>
                        <td>{{ user.subject1 }}</td>
                        <td>{{ user.unit1 }}</td>
                        <td>{{ user.grade1 }}</td>
                    </tr>
                    <tr>
                        <td>วิชาที่ 2 :</td>
                        <td>{{ user.subject2 }}</td>
                        <td>{{ user.unit2 }}</td>
                        <td>{{ user.grade2 }}</td>
                    </tr>
                    <tr>
                        <td>วิชาที่ 3 :</td>
                        <td>{{ user.subject3 }}</td>
                        <td>{{ user.unit3 }}</td>
                        <td>{{ user.grade3 }}</td>
                    </tr>
                    <tr>
                        <td>วิชาที่ 4 :</td>
                        <td>{{ user.subject4 }}</td>
                        <td>{{ user.unit4 }}</td>
                        <td>{{ user.grade4 }}</td>
                    </tr>
                    <tr>
                        <td>วิชาที่ 5 :</td>
                        <td>{{ user.subject5 }}</td>
                        <td>{{ user.unit5 }}</td>
                        <td>{{ user.grade5 }}</td>
                    </tr>
                    <tr>
                        <td>วิชาที่ 6 :</td>
                        <td>{{ user.subject6 }}</td>
                        <td>{{ user.unit6 }}</td>
                        <td>{{ user.grade6 }}</td>
                    </tr>
                    <tr>
                        <td>วิชาที่ 7 :</td>
                        <td>{{ user.subject7 }}</td>
                        <td>{{ user.unit7 }}</td>
                        <td>{{ user.grade7 }}</td>
                    </tr>
                    <tr>
                        <td>วิชาที่ 8 :</td>
                        <td>{{ user.subject8 }}</td>
                        <td>{{ user.unit8 }}</td>
                        <td>{{ user.grade8 }}</td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                        
                        <td><h2>GPA :</h2></td>
                        <td>{{user.gpa}}</td>
                    </tr>
                    <tr>
                        <td><h2>GPAX :</h2></td>
                        <td>{{user.gpax}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <a href="/home"><button class="logout" type="submit">back</button></a>
    
</body>
</html>