<!DOCTYPE html>
<html lang="en">
<head>
  <title>home page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="home.js"></script>
  <link rel="stylesheet" href="home.css">

</head>
<body>

    <nav class="navbar navbar-expand-sm bg-darknavbar navbar-expand-sm bg-dark navbar-dark ">
    
        <a class="navbar-brand" href="#">
            <img src="CDTI.png" style="height: 70px;">
        </a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            
            </ul>
            {{!-- <form class="form-inline my-2 my-lg-0"> --}}
                {{!-- <input class="form-control mr-sm-2" type="search" id="myInput" onkeyup="myFunction()" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button> --}}
               <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Search</button>
                    <div id="myDropdown" class="dropdown-content">
                        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                        <a href="#about">About</a>
                        <a href="#base">Base</a>
                        <a href="#blog">Blog</a>
                        <a href="#contact">Contact</a>
                        <a href="#custom">Custom</a>
                        <a href="#support">Support</a>
                        <a href="#tools">Tools</a>
                    </div>
                </div>
            {{!-- </form> --}}
        </div>
    </nav><br>
    
    <div class="boxcon">
        <div class="container">
            <div class="photo"> 
                <img src="people.jpg" class="img1">  
                <img src="image/{{user.Picture}}" >         
                <img src="image/{{user.Picture}}" class="img1">
                <h4>Welcome to : <br>{{ user.name }}</h4><hr>  
                {{!-- <img src='image/{{user.Picture}}'>        --}}
            </div>
            <a href="/profile"><button class="btn2" type="submit">Edit profile</button></a>
            <a href="/grade"><button class="btn2" type="submit">Grade</button></a>
            <a href="/simulation"><button class="btn2" type="submit">Simulation</button></a>
        </div>
    
        <div class="container2">
            <div class="text-l">
                <div class="box">
                    <img src="people.jpg" >  
                    <img src="image/{{user.Picture}}" class="img1">
                </div>
                <h3><b>Profile</b> <hr></h3>
                <div class="colum">
                    <table style="width:100%">
                        <tr>
                            <td>student ID     :</td>
                            <td>{{ user.studentId }}</td>
                        </tr>
                        <tr>
                            <td>Name           :</td>
                            <td>{{ user.name }}</td>
                        </tr>
                        <tr>
                            <td>TH Name        :</td>
                            <td>{{ user.thainame }}</td>
                        </tr>
                        <tr>
                            <td>Nickname       :</td>
                            <td>{{ user.nickname }}</td>
                        </tr>
                        <tr>
                            <td>Department     :</td>
                            <td>{{ user.deptment }}</td>
                        </tr>
                        <tr>
                            <td>Mentor Teacher :</td>
                            <td>{{ user.mentor }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="text-r">
                <h3><b>Contract</b> <hr></h3>
               <div class="colum">
                    <table style="width:100%">
                        <tr>
                            <td>Email      :</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>phone      :</td>
                            <td>{{ user.phone }}</td>
                        </tr>
                        <tr>
                            <td>line ID    :</td>
                            <td>{{ user.line }}</td>
                        </tr>
                        <tr>
                            <td>facebook   :</td>
                            <td>{{ user.fb }}</td>
                        </tr>
                        <tr>
                            <td>Instagram  :</td>
                            <td>{{ user.ig }} </td>
                        </tr>
                    </table>
               </div>
                

                <h3 style="padding-top: 1rem;"><b>personal information</b><hr></h3>
                <div class="colum">
                    <table style="width:100%">
                        <tr>
                            <td>Birth day  :</td>
                            <td>{{ user.hbd }}</td>
                        </tr>
                        <tr>
                            <td>Blood tpye :</td>
                            <td>{{ user.blood }}</td>
                        </tr>
                        <tr>
                            <td>Address    :</td>
                            <td>{{ user.address }}</td>
                        </tr>
                        <tr>
                            <td>Allergies  :</td>
                            <td>{{ user.allergies }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a href="/login"><button class="logout" type="submit">Log out</button></a>
</body>
</html>


